include ./config

html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= pageTitle
		block head
			link(rel="stylesheet", href=require('bootstrap/dist/css/bootstrap.css'))
			link(rel="stylesheet", href=require('./assets/scss/style.scss'))
	body
		block main
			p Nothing here!
		block scripts
			script(src=require('./assets/js/main.js'))